.App {
  background-image: url(https://images.pexels.com/photos/3384692/pexels-photo-3384692.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  padding: 20px;
}

.dashboard {
  width: 450px;
  height: 600px;
  background-color: transparent;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 25px;
  border: 1px solid #393e46;
  padding-bottom: 2px;
  backdrop-filter: blur(20px);
  display: block;
  margin: 10px auto;
}

.current-city h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.current-temp h2 {
  font-size: 20px;
  color: #1e463c;
  font-weight: initial;
  text-align: center;
}
.description {
  padding-bottom: 15px;
}

.weather-icon img {
  padding: 10px;
  max-width: 70px;
  display: block;
  margin: 0 auto;
}

.current-description {
  text-align: center;
  padding-top: 15px;
}
.current-description .grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.current-description h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.menu {
  margin: 0 auto;
  display: block;
  padding: 10px;
  text-align: center;
}

.button {
  display: inline;
  position: relative;
  left: 110px;
  bottom: 28px;
}

.container {
  text-align: center;
  padding-top: 20px;
}
.forecast-temperature {
  font-size: 16px;
}

.max-temp {
  color: #ec6e4c;
}

.min-temp {
  color: #e88b74;
}
