.App {
  background-image: url(https://images.pexels.com/photos/3384692/pexels-photo-3384692.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  padding: 20px;
}

.dashboard {
  width: 500px;
  height: 600px;
  background-color: transparent;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 25px;
  border: 1px solid #393e46;
  padding-bottom: 2px;
  backdrop-filter: blur(20px);
  display: block;
  margin: 10px auto;
}




.date h4 {
  font-size: 15px;
  padding-top: 30px;
  padding-left: 35px;
}

.current-city h1 {
  text-align: center;
  font-size: 30px;
}

.current-temp h2 {
  font-size: 20px;
  color: #1e463c;
  font-weight: initial;
  text-align: center;
}

.weather-icon img {
  max-width: 70px;
  display: block;
  margin: 0 auto;
}

.current-description {
  text-align: center;
}
.current-description .grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.current-description h3 {
  font-size: 30px;
}
